/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */
body{
    background: rgb(151, 199, 214);
}
.container{
    text-align: center;

}
table{
    margin: auto;
}
input{
    font-size: 38px;
    border: 4px solid rgb(91, 91, 184);
    border-radius: 9px ;
    margin: 5px ;

}
button{
    font-size:30px ;
    background-color: rgb(185, 185, 247);
width: 12vw;
height: 9vh;
text-shadow: 4px 4px 5px;
border-radius: 19px;
}

button:active{
color: white;
font-size: 37px;
}
.buttonsTable{
    display: inline-block;
    background-color: rgb(153, 153, 153);
}


.result1,.result2{
width: 24vw;
}
